/* --------- mixins --------- */
/* --------- variables --------- */
/* --------- components --------- */
html,
body {
  height: 100%; }

body {
  background: #f4f4f4;
  color: #acacac;
  font-family: Tahoma, Verdana, sans-serif; }

/*sticky footer*/
.wrapper {
  min-height: 100%;
  margin-bottom: -150px; }

.wrapper:after {
  content: "";
  display: block; }

.wrapper:after,
.page-footer {
  height: 150px; }

/*end of sticky footer*/
/*footer*/
.page-footer {
  width: 100%;
  height: 150px;
  text-align: center; }

.page-footer__wrap {
  background-color: #1a181d;
  height: 112px; }

.socials {
  padding-top: 21px;
  margin-bottom: 20px; }

.socials__list,
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.socials__item,
.navigation__item {
  display: inline-block; }

.socials__item:not(:first-child) {
  margin-left: 17px; }

.navigation__item:not(:first-child) {
  margin-left: 24px; }

.copy {
  background-color: #2b2a30;
  height: 38px; }

.copy,
.navigation__link {
  color: #fff; }

.navigation__link {
  font-size: 0.9375em;
  text-decoration: none; }

.copy {
  font-size: 0.6875em;
  line-height: 38px; }

.socials__link {
  text-indent: 999999px;
  overflow: hidden;
  width: 36px;
  height: 36px;
  display: block; }

.socials__link-fb {
  background: url("../images/icon-fb.png"); }

.socials__link-tw {
  background: url("../images/icon-tw.png"); }

.socials__link-go {
  background: url("../images/icon-go.png"); }

.socials__link-p {
  background: url("../images/icon-p.png"); }

.container {
  max-width: 1000px;
  margin: 0 auto; }

p {
  padding: 0;
  margin: 0; }

.about {
  text-align: center;
  font-family: Tahoma;
  font-weight: 400; }

.about__title {
  color: #000000;
  font-size: 35px;
  display: inline-block; }

.about__list {
  padding-left: 0;
  margin: 0 -26px; }

.about__item {
  width: 295px;
  display: inline-block;
  vertical-align: top;
  padding: 26px; }
  .about__item:before {
    content: '';
    display: inline-block;
    width: 176px;
    height: 110px; }

.about__item--people:before {
  background: url("../images/icon-people.png") no-repeat center center; }

.about__item--dev:before {
  background: url("../images/icon-dev.png") no-repeat center center; }

.about__item--hotel:before {
  background: url("../images/icon-hotel.png") no-repeat center center; }

.about__name {
  color: #000000;
  font-size: 30px; }

.about__text {
  color: #acacac;
  font-size: 20px; }

s
.mustache {
  overflow: hidden;
  margin-bottom: 30px; }

.mustache__icon {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0 5px; }
  .mustache__icon:before, .mustache__icon:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #00aef0;
    height: 1px;
    width: 1000px;
    color: blue;
    top: 50%;
    margin-top: -1px; }
  .mustache__icon:before {
    left: 100%; }
  .mustache__icon:after {
    right: 100%; }

.page-navigation {
  font-family: Tahoma;
  font-weight: 400;
  text-align: center; }

.page-navigation__list {
  padding-left: 0; }

.page-navigation__item {
  display: inline-block;
  width: 299px;
  border-left: 1px solid #c2c2c2;
  padding: 0 15px;
  margin-bottom: 30px; }
  .page-navigation__item:first-child {
    border-left: none; }
  .page-navigation__item:before {
    content: '';
    display: inline-block;
    width: 70px;
    height: 60px; }

.page-navigation__item--search:before {
  background: url("../images/icon-mglass.png") no-repeat center; }

.page-navigation__item--prices:before {
  background: url("../images/icon-graf.png") no-repeat center; }

.page-navigation__item--book:before {
  background: url("../images/icon-book.png") no-repeat center; }

.page-navigation__name {
  color: #2f4e68;
  font-size: 18px;
  margin: 0 0 10px; }

.page-navigation__text {
  color: #acacac;
  font-size: 15px;
  margin-bottom: 10px; }

.destination__container {
  width: 100%;
  font-family: Tahoma;
  color: #ffffff; }

.destination__row:before,
.destination__row:after {
  content: "";
  display: table; }

.destination__row:after {
  clear: both; }

.destination__block {
  float: left; }

.destination__title {
  color: #21b6a8;
  font-size: 35px;
  font-weight: 400;
  text-align: center; }

.destination__item {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  color: #ffffff;
  float: left;
  border: 1px solid #f4f4f4;
  background: #21b6a8;
  box-sizing: border-box;
  text-decoration: none; }

.info__text {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 0 5px; }

.info__text--large {
  font-size: 25px;
  font-weight: 700; }

.destination__item--blue {
  background-color: #3a5795; }

.info--google {
  background-color: #d84937; }

.info--twitter {
  background-color: #55acee; }

.info--insta {
  background-color: #125688; }

.info--letter {
  background-color: #ffba16; }

.info--pint {
  background-color: #e13138; }

.destination__item--large,
.destination__block--big {
  width: 400px;
  height: 400px; }

.destination__block--small {
  width: 200px;
  height: 400px; }

.destination__item--middle {
  width: 400px;
  height: 200px; }

.destination__inner {
  position: absolute;
  padding: 10px;
  bottom: 0; }

.destination__img {
  width: 100%;
  height: 100%; }

.destination__price,
.destination__name {
  font-size: 25px;
  font-weight: 700; }

.destination__text {
  font-size: 15px;
  font-weight: 400; }

.sprite {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.sprite-fb {
  width: 47px;
  height: 47px;
  background-position: -40px -40px; }

.sprite-gh {
  width: 47px;
  height: 47px;
  background-position: -294px -40px; }

.sprite-lock-ico {
  width: 20px;
  height: 32px;
  background-position: -167px -167px; }

.sprite-tw {
  width: 47px;
  height: 47px;
  background-position: -167px -279px; }

.sprite-vk {
  width: 47px;
  height: 47px;
  background-position: -421px -40px; }

.sprite-vk:hover {
  background-position: -421px -167px; }

.sprite-tw:hover {
  background-position: -294px -279px; }

.sprite-fb:hover {
  background-position: -167px -40px; }

.sprite-gh:hover {
  background-position: -40px -167px; }

.contacts__link-email {
  background: #41b9d4 url("../images/mail-ico.png") no-repeat 20px 10px; }

.contacts__link-cell {
  background: #48cbe8 url("../images/cell-ico.png") no-repeat 20px 8px; }

.contacts__link-skype {
  background: #51daf8 url("../images/skype-ico.png") no-repeat 20px 8px;
  border-radius: 0 0 4px 4px; }

.bag-ico {
  background: url("../images/bag-ico.png") no-repeat 0 center; }

.magi-ico {
  background: url("../images/magi-ico.png") no-repeat 0 center; }

.doc-ico {
  background: url("../images/doc-ico.png") no-repeat 10px center; }
