/* --------- mixins --------- */
/* --------- variables --------- */
/* --------- components --------- */
html,
body {
  height: 100%; }

body {
  background: #f4f4f4;
  color: #acacac;
  font-family: Tahoma, Verdana, sans-serif; }

/*sticky footer*/
.wrapper {
  min-height: 100%;
  margin-bottom: -150px; }

.wrapper:after {
  content: "";
  display: block; }

.wrapper:after,
.page-footer {
  height: 150px; }

/*end of sticky footer*/
/*footer*/
.page-footer {
  width: 100%;
  height: 150px;
  text-align: center; }

.page-footer__wrap {
  background-color: #1a181d;
  height: 112px; }

.socials {
  padding-top: 21px;
  margin-bottom: 24px; }

.socials__list,
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.socials__item,
.navigation__item {
  display: inline-block; }

.socials__item:not(:first-child) {
  margin-left: 17px; }

.navigation__item:not(:first-child) {
  margin-left: 24px; }

.copy {
  background-color: #2b2a30;
  height: 38px; }

.copy,
.navigation__link {
  color: #fff; }

.navigation__link {
  font-size: 0.9375em;
  text-decoration: none; }

.copy {
  font-size: 0.6875em;
  line-height: 38px; }

/*end of footer*/
.container {
  max-width: 1000px;
  margin: 0 auto; }

p {
  padding: 0;
  margin: 0; }

.sprite {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.sprite-fb {
  width: 47px;
  height: 47px;
  background-position: -40px -40px; }

.sprite-gh {
  width: 47px;
  height: 47px;
  background-position: -294px -40px; }

.sprite-lock-ico {
  width: 20px;
  height: 32px;
  background-position: -167px -167px; }

.sprite-tw {
  width: 47px;
  height: 47px;
  background-position: -167px -279px; }

.sprite-vk {
  width: 47px;
  height: 47px;
  background-position: -421px -40px; }

.sprite-vk:hover {
  background-position: -421px -167px; }

.sprite-tw:hover {
  background-position: -294px -279px; }

.sprite-fb:hover {
  background-position: -167px -40px; }

.sprite-gh:hover {
  background-position: -40px -167px; }

.contacts__link-email {
  background: #41b9d4 url("../images/mail-ico.png") no-repeat 20px 10px; }

.contacts__link-cell {
  background: #48cbe8 url("../images/cell-ico.png") no-repeat 20px 8px; }

.contacts__link-skype {
  background: #51daf8 url("../images/skype-ico.png") no-repeat 20px 8px;
  border-radius: 0 0 4px 4px; }

.bag-ico {
  background: url("../images/bag-ico.png") no-repeat 0 center; }

.magi-ico {
  background: url("../images/magi-ico.png") no-repeat 0 center; }

.doc-ico {
  background: url("../images/doc-ico.png") no-repeat 10px center; }
