.about{
	text-align: center;
	font-family: Tahoma;
	font-weight: 400;
}

.about__title{
	color:  #000000;
	font-size: 35px;
	display: inline-block;	
}


.about__list{
	padding-left: 0;
	margin: 0 -26px;
}

.about__item{
	width: 295px;
	display: inline-block;
	vertical-align: top;
	padding: 26px;

	&:before{
		content: '';
		display: inline-block;
		width: 176px;
		height: 110px;
	}
}

.about__item--people:before {	background: url('../images/icon-people.png') no-repeat center;}
.about__item--dev:before { background: url('../images/icon-dev.png') no-repeat center;}
.about__item--hotel:before { background: url('../images/icon-hotel.png') no-repeat center;}

.about__name{
	color:  #000000;
	font-size: 30px;
}

.about__text{
	color:  #acacac;
	font-size: 20px;
}




.mustache{
	overflow: hidden;
	margin-bottom: 30px;
}

.mustache__icon{
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 0 5px;

	&:before, &:after{
		content: '';
		display: block;
		position: absolute;
		background-color:  #00aef0;
		height: 1px;
		width: 2000px;
		color:blue;
		top:50%;
		margin-top: -1px;
	}

	&:before{left: 100%;}
	&:after{right: 100%;}

}