html,
body {
	height: 100%;
}

body {
	background: #f4f4f4;
	color: #acacac;
	font-family: Tahoma, Verdana, sans-serif;
}

/*sticky footer*/
.wrapper {
	min-height: 100%;
	margin-bottom: -150px;
}

.wrapper:after {
	content: "";
	display: block;
}

.wrapper:after,
.page-footer {
	height: 150px;
}
/*end of sticky footer*/

<<<<<<< HEAD
<<<<<<< HEAD
.container {
=======
<<<<<<< HEAD
=======
>>>>>>> a9af06eb91e69e6d715604ff854445cc19c2373d
/*footer*/

.page-footer {
	width: 100%;
	height: 150px;
	text-align: center;
}

.page-footer__wrap {
	background-color: #1a181d;
	height: 112px;
}

.socials {
	padding-top: 21px;
	margin-bottom: 20px;
}

.socials__list,
.navigation__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.socials__item,
.navigation__item {
	display: inline-block;
}

.socials__item:not(:first-child) {
	margin-left: 17px;
}

.navigation__item:not(:first-child) {
	margin-left: 24px;
}

.copy {
	background-color: #2b2a30;
	height: 38px;
}

.copy,
.navigation__link {
	color: #fff;
}

.navigation__link {
	font-size: 0.9375em;
	text-decoration: none;
}

.copy {
	font-size: 0.6875em;
	line-height: 38px;
}

.socials__link {
	text-indent: 999999px;
	overflow: hidden;
	width: 36px;
	height: 36px;
	display: block;
}

.socials__link-fb { background: url('../images/icon-fb.png') }
.socials__link-tw { background: url('../images/icon-tw.png') }
.socials__link-go { background: url('../images/icon-go.png') }
.socials__link-p { background: url('../images/icon-p.png') }
/*end of footer*/

.container{
>>>>>>> beba22ee4bd24084c7e93779eda912d8dbaf5714
	max-width: 1000px;
	margin: 0 auto;
	// border:1px dashed #ccc;
}

p {
	padding: 0;
	margin: 0;
}

