html,
body {
	height: 100%;
}

body {
	background: url('../images/comppattern2.png');
	font-family: "fira_sansbook";
	background: #f4f4f4;
}

/*sticky footer*/
.wraper {
	min-height: 100%;
	margin-bottom: -83px;
}

.wraper:after {
	content: "";
	display: block;
}

.wraper:after,
.page-footer {
	height: 80px;
}
/*end of sticky footer*/

.container{
	max-width: 1000px;
	margin: 0 auto;
	// border:1px dashed #ccc;
}