html,
body {
	height: 100%;
}

body {
	background: #f4f4f4;
	color: #acacac;
	font-family: Tahoma, Verdana, sans-serif;
}

/*sticky footer*/

.wrapper {
	min-height: 100%;
	margin-bottom: -150px;
}

.wrapper:after {
	content: "";
	display: block;
}

.wrapper:after,
.page-footer {
	height: 150px;
}
/*end of sticky footer*/


/*page header*/

.page-header {
	background: url('../images/top-bg.png') center;
	height: 653px;
	position: relative;
	background-size: cover;
}

.search {
	padding: 0 45px;
}

.search__header {
	width: 100%;
	padding-top: 27px;
	@include clearfix;
	margin-bottom: 135px;
}

.icon {
	float: left;
	width: 279px;
	height: 45px;
}

.icon__img {
	width: 100%;
}

.icon__text {
	@include hide;
}

.money {
	float: right;
}

.money__link {
	color: #fff;
	font-size: 0.9375em;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}



.search__footer {
	text-align: center;
}

.partners__title {
	color: #fff;
	font-size: 1.25em;
	font-weight: normal;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

.partners__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.partners__item {
	display: inline-block;
}

.partners__item:not(:first-child) {
	margin-left: 20px;
}

.partners__link {
	display: block;
}

.partners__link-agoda{ width: 90px; height: 36px;}
.partners__link-booking{ width: 144px; height: 25px;}
.partners__link-easy{ width: 143px; height: 25px;}
.partners__link-happy{ width: 128px; height: 36px;}

.partners__img {
	width: 100%;
	vertical-align: middle;
}

.circles__item {
	position: absolute;
	width: 134px;
	height: 134px;
	@include border-radius(50%);
	display: block;
	z-index: 0;
}

.circles__item-paris {
	top: 16%;
	left: 14%;
	background-color: rgba(84,0,255, 0.4);
}

.circles__item-new {
	top: 12%;
	right: 35%;
	background-color: rgba(255,0,0, 0.4);
}

.circles__item-london {
	bottom: 13%;
	left: 6%;
	background-color: rgba(255,60,0, 0.4);
}

.circles__item-istanbul {
	bottom: 14%;
	left: 50%;
	background-color: rgba(255,234,0, 0.4);
}

.circles__item-rome {
	bottom: 9%;
	right: 11%;;
	background-color: rgba(7,215,95, 0.4);
}

.circles__item_wrap {
	text-align: center;
	padding: 32px 10px;
}

.circles__text {
	color: #fff;
	margin-bottom: 15px;
}

.circles__link {
	color: #fff;
	opacity: .7;

	&:hover {
		opacity: 1;
		text-decoration: none;
	}
}

.circles__text span {
	display: block;
}


/*end of page header*/

/*footer*/

.page-footer {
	width: 100%;
	height: 150px;
	text-align: center;
}

.page-footer__wrap {
	background-color: #1a181d;
	min-height: 112px;
}

.socials {
	padding-top: 21px;
	margin-bottom: 20px;
}

.socials__list,
.navigation__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.socials__item,
.navigation__item {
	display: inline-block;
}

.socials__item:not(:first-child) {
	margin-left: 17px;
}

.navigation__item:not(:first-child) {
	margin-left: 24px;
}

.copy {
	background-color: #2b2a30;
	height: 38px;
}

.copy,
.navigation__link {
	color: #fff;
}

.navigation__link {
	font-size: 0.9375em;
	text-decoration: none;
	&:hover {
		color: #00aef0;
		transition: 0.3s;
	}
}

.copy {
	font-size: 0.6875em;
	line-height: 38px;
}


.socials__link {
	text-indent: 999999px;
	overflow: hidden;
	width: 36px;
	height: 36px;
	display: block;
}

.socials__link-fb { background: url('../images/icon-fb.png') }
.socials__link-tw { background: url('../images/icon-tw.png') }
.socials__link-go { background: url('../images/icon-go.png') }
.socials__link-p { background: url('../images/icon-p.png') }



.container{
	max-width: 1000px;
	margin: 0 auto;
}

p {
	padding: 0;
	margin: 0;
}

