$square: 200px;

.destination__container {
	width: 100% ;
	font-family: Tahoma;
	color:  #ffffff;
}

.destination__row { 
	@include clearfix;
	max-width: 1000px;
	min-width: 400px;
	margin: 0 auto;
}

.destination__block {  
	width: $square;
	height: $square*2;
	float: left; 
}

.destination__title{
	color:  #21b6a8;
	font-size: 35px;
	font-weight: 400;
	text-align: center;
}

.destination__img{
	display: block;
	max-width: 100%;
	max-height: 100%; 
}

.destination__item {
	position: relative;
	overflow: hidden;
	width: $square;
	height: $square;
	color:#ffffff;
 	float: left;
	border: 1px solid #f4f4f4 ;
	background:#21b6a8;
	box-sizing: border-box;
	text-decoration: none;
}

.info{
	text-align: center;
	padding: 10px 5px;
}

.info__img{margin-bottom: 8px;}
.info__text{
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 8px;
}

.info__text--large{
	padding: 0;
	font-size: 25px;
	font-weight: 700;
}

.destination__item--blue{  background-color:  #3a5795; }
.destination__item--red{  background-color:  #d84937; }
.destination__item--lightblue{ background-color:  #55acee; }
.destination__item--darkblue{ background-color:  #125688;}
.destination__item--yellow{ background-color:  #ffba16;}
.destination__item--bright-red{ background-color:  #e13138;}
.destination__item--cyan{ background-color:  #21b6a8;}
.destination__item--pure-blue{ background-color:  #0089f3;}
.destination__item--purple{ background-color:  #5a3773;}
.destination__item--green {background-color:  #07d75f;}
.destination__item--pure-cyan{ background-color:  #00aee1;}
.destination__item--orange{ background-color:  #ff6600;}
.destination__item--bright-yellow{ background-color:  #fbda29;}


.destination__item--large,
.destination__block--big {
	width: $square*2;
	height: $square*2;  
}


.destination__item--middle{ 
	width: $square*2;
	height: $square;
}

.destination__inner{
	position: absolute;
	padding: 10px;
	bottom: 0;
}
.destination__inner--center{
	text-align: center;
	position: absolute;
	top: 30%;
	width: 180px;
}

.destination__img{ 
	width:100%;
	height: 100%;
}

.destination__price,
.destination__name {
	font-size: 25px;
	font-weight: 700;
}

.destination__text {
	font-size: 15px;
	font-weight: 400;
}
