.search__form {
	max-width: 1110px;
	text-align: center;
	margin: 0 auto 155px;
	z-index: 1;
	position: relative;
}

.search__legend {
	font-weight: 100;
	font-family: 'roboto';
	color: #fff;
	font-size: 5.5em;
	margin: 0 0 24px;
	padding: 0;
	letter-spacing: 2px;
}

.inputs {
	height: 70px;
	width: 100%;
	background: rgba(0,0,0,0.25);
	padding: 10px 12px;
	box-sizing: border-box;
	@include clearfix;
}

.search__input {
	height: 100%;
	box-sizing: border-box;
	line-height: 100%;
	background: #fff;
	background-repeat: no-repeat;
	border: none;
	float: left;
}

.inputs__submit {
	float: right;

	&:hover {
		background-color: #00AEBB;
		transition: 0.3s;
	}
}

.search__input:not(:first-child) {margin-left: 1%;}

.search__input::-webkit-input-placeholder { padding-top: 2px; }
.search__input::-moz-placeholder { padding-top: 2px; }/* Firefox 19+ */
.search__input:-moz-placeholder { padding-top: 2px; }/* Firefox 18- */
.search__input:-ms-input-placeholder { padding-top: 2px; }

.inputs-text {
	width: 38%;
	padding-left: 40px;
	background-image: url("../images/icon-perk.png");
	background-position: 3% center;
}

.inputs-date{
	width: 15%;
}

.inputs-date {
	padding-left: 53px;
	background-image: url("../images/icon-calendar.png");
	background-position: 10% center;

	&:hover {
		cursor: pointer;
	}
}
.select__label {
	width: 15%;
	float: left;
	height: 50px;
	margin-left: 1%;
	background-color: #fff;
	overflow: hidden;
	box-sizing: border-box;
}

.inputs-select {
	width: 100%;
	padding-left: 40px;
	background-image: url("../images/icon-pers-gray.png"), url("../images/icon-arrow.png");
	background-position: 10% center, 90% center;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	-o-appearance:none;
	appearance: none;
}

// for ie
.no-touch .inputs-select {
	width: 115%;
	background-position: 10% center, 80% center;
}

.inputs__submit {
	width: 13%;
	background-color: #00aef0;
	color: #fff;
	font-size: 1.125em;
}



.circles__item {
	position: absolute;
	width: 134px;
	height: 134px;
	@include border-radius(50%);
	display: block;
	z-index: 0;
}

.circles__item-paris {
	top: -42%;
	left: 3%;
	background-color: rgba(84,0,255, 0.4);
}

.circles__item-new {
	top: -58%;
	right: 26%;
	background-color: rgba(255,0,0, 0.4);
}

.circles__item-london {
	bottom: -73%;
	left: 0%;
	background-color: rgba(255,60,0, 0.4);
}

.circles__item-istanbul {
	bottom: -71%;
	left: 51%;
	background-color: rgba(255,234,0, 0.4);
}

.circles__item-rome {
	bottom: -85%;
	right: 0%;;
	background-color: rgba(7,215,95, 0.4);
}

.circles__item_wrap {
	text-align: center;
	padding: 32px 10px;
}

.circles__text {
	color:  #ffffff;
	font-size: 17px;
	font-weight: 400;
	margin-bottom: 5px;

	span { display: block; }
}

.circles__link {
	color: #fff;
	font-size: 17px;
	font-weight: 700;
	text-decoration: underline;

	&:hover {text-decoration: none;}
}

.circles__link-paris { color: #9576fe;}
.circles__link-new { color: #f77d7d;}
.circles__link-istanbul {color: #eff624;}
.circles__link-rome {color: #19fc54;}
.circles__link-london {color: #fe977e;}

