.page-navigation{
	font-family: Tahoma;
	font-weight: 400;
	text-align: center;
}

.page-navigation__list{
	padding-left: 0;

}

.page-navigation__item{
	display: inline-block;
	width: 299px;
	border-left: 1px solid #c2c2c2;
	padding: 0 15px;
	margin-bottom: 30px;
	&:first-child{border-left: none;}

	&:before{
		content: '';
		display: inline-block;
		width: 70px;
		height: 60px;
	}
}
.page-navigation__item--search:before { background: url('../images/icon-mglass.png') no-repeat center;}
.page-navigation__item--prices:before { background: url('../images/icon-graf.png') no-repeat center;}
.page-navigation__item--book:before { background: url('../images/icon-book.png') no-repeat center;}

.page-navigation__name{
	color:  #2f4e68;
	font-size: 18px;
	margin:0 0 10px ;
}

.page-navigation__text{
	color:  #acacac;
	font-size: 15px;
	margin-bottom: 10px;
}