@media screen and ( max-width : 1014px) {
	.page-navigation__item--book {
		border-left: none;
	}
}


@media screen and ( max-width : 970px) {
	.search__legend {
		font-size: 4em;
	}
	.circles__item-istanbul {
		bottom: 19%;
	}
	.search__form {
		margin-bottom: 170px;
	}
	.inputs-text {
		padding-left: 5%;
	}
	.inputs-date {
		padding-left: 6%;
	}

	.inputs-select {
		padding-left: 30px;
		background-position: 10% center, 95% 52%;
		font-size: 0.875em;
		
	}
}

@media screen and ( max-width : 768px) {
	.search__input::-webkit-input-placeholder { font-size: 0.875em; }
	.search__input::-moz-placeholder          { font-size: 0.875em; }/* Firefox 19+ */
	.search__input:-moz-placeholder           { font-size: 0.875em; }/* Firefox 18- */
	.search__input:-ms-input-placeholder      { font-size: 0.875em; }

	.wrapper {
		width: 768px;
	}
	.page-footer__wrap,
	.copy {
		min-width: 768px;
	}
	.inputs-select {
		width: 18%;
	}

	.inputs-text {
		width: 35%;
	}
}