include ../common/_mixins
doctype html
html(lang="")

	include ../common/head.jade

	body
		<!--[if lt IE 10]>
		<p class="browsehappy">	Your bowser<strong>got outdated</strong>.Please, <a href="http://browsehappy.com/">update</a> your browser.</p>
		<![endif]-->

		.wrapper

			include ../common/page-header.jade

			.container

				include ../common/navigation.jade

				include ../common/destinations.jade

				include ../common/about-us.jade

		include ../common/page-footer.jade