section.destination
	h2.destination__title Top Hotel Destinations
	.destination__container

		.destination__row
			.destination__block.destination__block--big
				a(href="").destination__item
					+tile('New York', 100)
				a(href="").destination__item					
					+tile('Prague', 100)
				a(href="").destination__item				
					+tile('Dublin', 100)
				a(href="").destination__item					
					+tile('Antalya', 100)

			.destination__block.destination__block--small
				a(href="").destination__item
					+tile('Phuket Island', 100)
				a(href="").info.info--fb
					p.info__text Tips and photos all day long.
					p.info__text.info__text--large Like us</br>on Facebook
			
			.destination__block.destination__block--big
				a(href="").destination__item.destination__item--large
					+tile('Istanbul', 100)
		
		
		.destination__row
			.destination__block.destination__block--small
				a(href="").info.info--google
					p.info__text Community and groups helping you all day.
					p.info__text.info__text--large Like us</br>on google+
				a(href="").destination__item
					+tile('Tenerife', 100)
			
			.destination__block.destination__block--big
				a(href="").destination__item.destination__item--large
					+tile('Barcelona', 100)
			.destination__block.destination__block--big
				a(href="").destination__item.destination__item--middle					
					+tile('Pattaya', 100)
				a(href="").info.info--twitter
					p.info__text Twitting the best prices throughout the day.
					p.info__text.info__text--large Like us</br>on Twitter
				a(href="").destination__item					
					+tile('Sharm al Sheikh', 100)

			