section.destination
	h2.destination__title Top Hotel Destinations
	.destination__container

		.destination__row
			.destination__block.destination__block--big
				+tile('New York', 100)
				+tile('Prague', 100)
				+tile('Dublin', 100)
				+tile('Antalya', 100)

			.destination__block.destination__block--small
				+tile('Phuket Island', 100)
				a(href="").destination__item.destination__item--blue
					p.info__text Tips and photos all day long.
					p.info__text.info__text--large Like us<wbr>on Facebook
			
			.destination__block.destination__block--big
				+tile-large('Istanbul', 100)
		
		
		.destination__row
			.destination__block.destination__block--small
				a(href="").destination__item.info--google
					p.info__text Community and groups helping you all day.
					p.info__text.info__text--large Like us</br>on google+
				+tile('Tenerife', 100)
			
			.destination__block.destination__block--big
				+tile-large('Barcelona', 100)
			.destination__block.destination__block--big
				+tile-middle('Pattaya', 100)
				a(href="").destination__item.info--twitter
					p.info__text Twitting the best prices throughout the day.
					p.info__text.info__text--large Like us</br>on Twitter
				+tile('Sharm al Sheikh', 100)

		.destination__row
			.destination__block.destination__block--big
				+tile('Dubai City', 100)
				+tile('Hurghada', 100)
				a(href="").destination__item.info--insta
					p.info__text Checkout the best  photos of destinations.
					p.info__text.info__text--large Like us</br>on Instagram
				+tile('Seattle', 100)

			.destination__block.destination__block--small
				+tile('Amsterdam', 100)
				+tile('Batumi', 100)
			
			.destination__block.destination__block--big
				+tile-large('London', 100)

		.destination__row
			.destination__block.destination__block--big
				+tile-large('Paris', 100)
			.destination__block.destination__block--big
				+tile-middle('Singapore', 100)
				a(href="").destination__item.info--letter
					p.info__text Deals and prices directly to your inbox.
					p.info__text.info__text--large Subscribe to</br>our newsletter
				+tile('Nha Trang', 100)
			.destination__block.destination__block--small
				+tile('Samui Island', 100)
				+tile('Budapest', 100)

		.destination__row
			.destination__block.destination__block--small
				+tile('Budva', 100)
				+tile('Odessa', 100)
			.destination__block.destination__block--big
				+tile-middle('Berlin', 100)
				+tile('Venice', 100)
				+tile('Marmaris', 100)
			.destination__block.destination__block--big
				+tile('Milan', 100)
				+tile('Vienna', 100)
				a(href="").destination__item.info--pint
					p.info__text Thousands of pins to see and enjoy.
					p.info__text.info__text--large Subscribe to</br>our Pinterest
				+tile('Tivat', 100)
			
			
		.destination__row
			.destination__block.destination__block--big
				+tile-large('Bangkok', 100)
			.destination__block.destination__block--small
				+tile('Rio', 100)
				+tile('Glendalough', 100)
			.destination__block.destination__block--big
				+tile-large('Rome', 100)

		.destination__row
			.destination__block.destination__block--big
				+tile('Alanya', 100)
				a(href="").destination__item.info--pint
					p.info__text Thousands of pins to see and enjoy.
					p.info__text.info__text--large Subscribe to</br>our Pinterest
				+tile-middle('Bay Of Island', 100)
			.destination__block.destination__block--small
				+tile('Cologne', 100)
				a(href="").destination__item.info--pint
					p.info__text Thousands of pins to see and enjoy.
					p.info__text.info__text--large Subscribe to</br>our Pinterest
			.destination__block.destination__block--big
				+tile('Belek', 100)
				a(href="").destination__item.info--pint
					p.info__text Thousands of pins to see and enjoy.
					p.info__text.info__text--large Subscribe to</br>our Pinterest
				+tile('Tbilisi', 100)
				a(href="").destination__item.info--pint
					p.info__text Thousands of pins to see and enjoy.
					p.info__text.info__text--large Subscribe to</br>our Pinterest