section.destination
	h2.destination__title Top Hotel Destinations
	.destination__container

		.destination__row
			.destination__block.destination__block--big
				.destination__item
				.destination__item
				.destination__item
				.destination__item
			.destination__block.destination__block--small
				.destination__item
				.destination__item
			.destination__block.destination__block--big
				.destination__item.destination__item--large
		
		.destination__row
			.destination__block.destination__block--small
				.destination__item
				.destination__item
			.destination__block.destination__block--big
				.destination__item.destination__item--large
			.destination__block.destination__block--big
				.destination__item.destination__item--middle
				.destination__item
				.destination__item
		
		