section.page-navigation
	ul.page-navigation__list
		li.page-navigation__item.page-navigation__item-search
			h2.page-navigation__title Search The Best
			p.page-navigation__text We use the best and latest technology to serve you the best user experience.
		li.page-navigation__item.page-navigation__item-prices
			h2.page-navigation__title Compare Prices
			p.page-navigation__text Search compare and book the cheapest hotel prices online. Compare now.
		li.page-navigation__item.page-navigation__item-book
			h2.page-navigation__title Book And Enjoy
			p.page-navigation__text Book your favourite hotel and enjoy the journey with your friends and family.