footer.page-footer
	.page-footer__wrap
		.socials
			ul.socials__list
				each item in ['fb','tw','go','p']
					li.socials__item
						a(href="#" class="socials__link socials__link-" + item)= item
		nav.navigation
			ul.navigation__list
				each item in ['About Us', 'Privacy Policy', 'Terms & Conditions', 'Contact Us', 'Cookie Policy']
					li.navigation__item
						a.navigation__link(href="#")= item
	.copy © 2015 HotelPriceRadar all rights reserved


<!-- build:js js/vendor.js --> 
//bower:js
script(src='/bower/modernizr/modernizr.js')
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/get-style-property/get-style-property.js')
script(src='/bower/get-size/get-size.js')
script(src='/bower/eventie/eventie.js')
script(src='/bower/doc-ready/doc-ready.js')
script(src='/bower/eventEmitter/EventEmitter.js')
script(src='/bower/matches-selector/matches-selector.js')
script(src='/bower/fizzy-ui-utils/utils.js')
script(src='/bower/outlayer/outlayer.js')
script(src='/bower/masonry/masonry.js')
//endbower
<!-- endbuild -->

<!-- build:js js/main.js --> 
script(src="js/main.js")
<!-- endbuild -->
